<div class="row">
    <h1> Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'Habilidad'"
  [titleColor]="'grey'"
  [titleFontSize]="'25px'"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'yellow'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'Habilidad'"
  [titleColor]="'grey'"
  [titleFontSize]="'25px'"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'yellow'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'Habilidad'"
  [titleColor]="'grey'"
  [titleFontSize]="'25px'"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'yellow'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="85"
[radius]="100"
[showUnits]="false"
[title]="'Habilidad'"
[titleColor]="'grey'"
[titleFontSize]="'25px'"
[outerStrokeWidth]="10"
[innerStrokeWidth]="8"
[outerStrokeColor]="'yellow'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
  [percent]="85"
  [radius]="100"
  [showUnits]="false"
  [title]="'Habilidad'"
  [titleColor]="'grey'"
  [titleFontSize]="'25px'"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'yellow'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
  ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]="false"
    [title]="'Habilidad'"
    [titleColor]="'grey'"
    [titleFontSize]="'25px'"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'yellow'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="800"
    ></circle-progress>
    </div>

</div>

