<div class="row">
    <h1> Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="50"
  [radius]="100"
  [showUnits]="false"
  [title]="'HTML5'"
  [titleColor]="'#a52a2a'"
  [titleFontSize]="'25px'"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#a52a2a'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="50"
  [radius]="100"
  [showUnits]="false"
  [title]="'CSS'"
  [titleColor]="'#a52a2a'"
  [titleFontSize]="'25px'"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#a52a2a'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="50"
  [radius]="100"
  [showUnits]="false"
  [title]="'JavaScript'"
  [titleColor]="'#a52a2a'"
  [titleFontSize]="'25px'"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#a52a2a'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
[percent]="50"
[radius]="100"
[showUnits]="false"
[title]="'GitHub'"
[titleColor]="'#a52a2a'"
[titleFontSize]="'25px'"
[outerStrokeWidth]="20"
[innerStrokeWidth]="5"
[outerStrokeColor]="'#a52a2a'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
  [percent]="75"
  [radius]="100"
  [showUnits]="false"
  [title]="'Ingles'"
  [titleColor]="'#a52a2a'"
  [titleFontSize]="'25px'"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#a52a2a'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
    [percent]="100"
    [radius]="100"
    [showUnits]="false"
    [title]="'Trabajo grupal'"
    [titleColor]="'#a52a2a'"
    [titleFontSize]="'25px'"
    [outerStrokeWidth]="20"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#a52a2a'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
    </div>

</div>

