<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
      <div class="col-lg-11">
          <ul>
              <li>
                  <h2>Carlos Maschwitz Engish School</h2> - <h3>(2001-2007)</h3>
              </li>
              <p>Jardin , Pre-escolar , Primaria. Colegio bilingüe</p>
          </ul>
          <ul>
              <li>
                  <h2>Instituto Doctor Nicolas Avellaneda</h2> - <h3>(2007-2013)</h3>
              </li>
              <p>Secundaria </p>
          </ul>
          <ul>
            <li>
                <h2>E.E.S Reconquista N16 Dique Lujan</h2> - <h3>(2014-2016)</h3>
            </li>
            <p>Ultimos años de secundario</p>
        </ul>
       
        <ul>
            <li>
                <h2> Armado y reparacion de redes informaticas y computadoras</h2> - <h3>(2022)</h3>
            </li>
            <p>Presencial , cuatrimestral total 96 hs de curso</p>
        </ul>
        <ul>
            <li>
                <h2>SeProgramar</h2> - <h3>(2022)</h3>
            </li>
            <p>Online , dos meses total 60 horas de curso</p>
        </ul>
        <ul>
            <li>
                <h2>Analista de datos </h2> - <h3>(en curso)</h3>
            </li>
            <p>Online</p>
        </ul>
    <ul>
        <li>
            <h2>Desarrolador de contenido digital </h2> - <h3>(en curso)</h3>
        </li>
        <p>Online</p>
    </ul>
    <ul>
        <li>
            <h2>YoProgramo </h2> - <h3>(en curso)</h3>
        </li>
        <p>Online</p>
    </ul>
      </div>
  </div>  
  
