.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: o.5em;
}
#logoAP{
    width: 150px;
}
img{
    width: 50px;
}

/*...Para la vista del celular...*/
@media (max-width:575px){
.container{
    flex-direction: column;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}