<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto Final Argentina Programa</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ipsa dolore architecto explicabo aliquid, error quis iusto minus, in quam fuga quisquam nesciunt at aspernatur exercitationem quia omnis quod sint.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1">
            <img src="../../../assets/APLogoProyectos.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
