.row{
    padding: 20px;
    background-color: #a1b5cb;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{ 
    h1,h2,h3{display: inline;}
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px #000;
    box-shadow: ejeX ejeY difumasion cornflowerblue;
}